@import './components/main.scss';
@import './pages/main.scss';
@import '_variables.scss';


/*==================GLOBAL DEFAULT STYLES=====================*/
html,
body {
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: Roboto;
}

input:focus, textarea:focus{
  outline: none;
}
textarea{
  resize: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: white;
  }
}

/*==================GLOBAL CUSTOM STYLES=====================*/
.d-flex{
  display: flex;
}
.d-center{
  justify-content: center;
  align-items: center;
}
.border--divider{
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 2px solid $grey-200;
}
.input--err{
  border: 1px solid red;
}
.chip--err{
  padding: 20px;
  border-radius: 20px;
  border: 1px solid rgb(237, 56, 56);
  color: rgb(237, 56, 56);
  font-size: 20px;
  font-weight: 400;
  margin: 10px;
}

.btn__span--pink{
  height: 100%;
  text-align: center;
  margin-right: 12px;
}
.btn--pink{
  background-color: $pink-color;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 9px;
  height: 34px;
  width: auto;
  padding: 0 8px 0 8px;
  align-items: center;
  justify-content: space-around;
  margin-left: 15px;
  cursor: pointer;
}
.btn__span--pruple{
  height: 100%;
  text-align: center;
}
.btn--purple{
  background-color: $purple-color;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 13px;
  height: 34px;
  width: auto;
  padding: 0 40px;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}




.section--margin{
  margin: 100px 20px 100px 20px;
}
.display-none{
  display: none !important;
}

@media screen and (min-width:400px) { 

  .btn--pink{
    font-size: 10px;
    padding: 0 17px 0 17px;
  }

}
@media screen and (min-width:830px) { 
  .section--margin{
    margin: 100px 80px 100px 80px;
  }
  .btn--pink{
    font-weight: bold;
    font-size: 18px;
    height: 40px;
    display: flex;
    width: auto;
    padding: 0 20px 0 20px;
  } 

  .btn--purple{
    font-weight: bold;
    font-size: 20px;
    height: 50px;
    padding: 0 60px 0 60px;
  }
}


/*==================GLOBAL CUSTOM ANIMATION=====================*/
@keyframes fadeIn {
  0% {opacity: 0;} 
  100% {opacity: 1;}
} 

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.fadeIn {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

